/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
}

* {
     box-sizing: border-box;
 }
body {
    width: 1300px;
    margin: 15px auto;
    padding: 15px 25px;
    border: 2px solid black;
}

section, aside, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em;    
}

 body {
     font-family: Arial, Helvetica, sans-serif;
 }
 
header {
     background-color: white;
     padding: 20px;
     text-align: center;
     font-size: 15px;
 
     border-bottom: 2px dotted #F76C1E;
     font-style: italic;
 }
 header h4{
      color: #ef9c00;
 }

 
 ul {
     list-style-type: none;
     margin: 0;
     padding-left: 0;
     background-color:  #f1f1f1;  
     font-style: italic;
 }

 li a {
     display: block;
     color: #000;
     padding: 15px 15px;
     text-decoration: none;
 }

 li {
     text-align: center;        
 }

 li:last-child {
     border-bottom: none;
 }

 li a.active {
     background-color:  #04AA6D;
     color: white;
 }

 li a:hover:not(.active) {
     background-color: #555;
     color: white;
 }  
 
#sidebarA { 

   width: 320px; 
   float: left; 
   height: 350px;
   font-size: 20px;
   padding-right:  1em; 
   border-right: 2px dotted #F76C1E;
}

#sidebarB { 
    width: 320px; 
    float: left; 
    height: 350px;
    padding-left: 1em;
    border-left: 2px dotted #F76C1E;
}
#sidebarB div{
    text-align: center;
}
/* the styles for the section */
section {
    width: 600px;
    padding-right: 20px;
    padding-left: 30px;
    float: left;   
    
}
section h1 {
    margin-bottom: 0.35em; 
}
section h2 {
    text-align: center;
    margin-bottom: 0.35em;
}

.top_margin {
    margin-top: 1em;
}

.cart {
     width: 600px;
    
     
}
.cart label {
    float: left;
    width: 10em;
    font-weight: bold;
   
}
.cart input[type="text"], input[type="email"], input[type="date"] {
    float: left;
    width: 12em;
    margin-left: 0.5em;
    margin-right: 0.2em;
}
.cart input[type="button"] {
    margin-left: 0.5em;
}
.cart select {
    float: left;
    width: 12em;
    height: 1.8em;
    margin-left: 0.5em;
    margin-right: 0.2em;
    
}
.cart_row input[type="text"] {
    width: 2em;
    margin-left: 0em;
}
#required {
    margin-left: 8.5em;
    margin-bottom: .5em;
}
.required {
    color: red;
    margin-bottom: 0;
}


table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 30em;
}

th, td {
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}
.top {
    vertical-align: top;
}

footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px dotted #F76C1E;
    padding-top: 0.7em;
}
footer p {
    font-size: 80%;
    text-align: center;
}


